<div class='container'>
  <h2>Lab</h2>

  <table class='table'>
    <thead>
      <tr>
        <th>Lab name</th>
        <th>Github URL</th>
        <th>Status</th>
        <th>Stretch goal finished</th>
      </tr>
    </thead>

    <tbody>
      <% @student_labs.each do |sl| %>
        <tr>
          <td><%= sl.lab.name %></td>
          <td><%= sl.github_link %></td>
          <td>
            <% if sl.complete %>
              <span class="label label-primary">Complete</span>
            <% else %>
              <span class="label label-danger">Missing</span>
            <% end %>
          </td>
          <td>
            <% if sl.stretch_goal %>
              <span class="label label-primary">Yes</span>
            <% else %>
              <span class="label label-danger">No</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= form_for current_user.student_labs.new do |f| %>
    <h4>Submit Lab</h4>
    <div class="form-group">
      <%= f.label 'Please select the lab'%>
      <%= f.select :lab_id, options_from_collection_for_select(Lab.where.not(id: current_user.student_labs.pluck(:lab_id)), "id", "name"), :class=>"form-control select select-primary"%>
    </div>

    <div class="form-group">
      <%= f.label 'Your Github repository url for this completed lab'%>
      <%= f.url_field :github_link, :class=>"form-control"%>
    </div>

    <div class='form-group'>
      <label>
        <%= f.check_box :stretch_goal%>
        &nbsp;
        Stretch goal finished
      </label>
    </div>

    <div class="form-group">
      <%= f.submit "Submit", :class=>"btn-primary btn" %>
    </div>
  <% end %>
</div>