  <table class="table">
    <thead>
      <tr>
        <th>Criteria</th>
        <th>Score</th>
        <th>Max Points</th>
      </tr>
    </thead>
    <tbody>
      <% max_points = 0 %>
      <% if @assignment.id == 1 %>
        <% @assignment.rubric_fields.each do |field| %>
        <% grading_field = @submission.grading_fields.where(rubric_field_id: field.id).first %>
        <% max_points += field.points.to_i %>
          <tr>
            <td><%= field.name %></td>
            <td><%= grading_field.score %></td>
            <td></td>
          </tr>
        <% end %>
      <% else %>
        <% @assignment.rubric_fields.order(:id).each do |field| %>
        <% grading_field = @submission.grading_fields.where(rubric_field_id: field.id).first %>
        <% max_points += field.rubric_field_items.sum(:point) %>
          <tr>
            <td><%= field.name %></td>
            <td><%= grading_field.score %></td>
            <td><%= field.rubric_field_items.sum(:point) %></td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td>Self Assessment Grade</td>
        <td><%= @submission.self_assessment_grade %></td>
        <td></td>
      </tr>
      <tr>
        <td>TA Grade</td>
        <td><%= @submission.ta_grade %></td>
        <td></td>
      </tr>
      <tr>
        <td>Final Grade</td>
        <td><%= @submission.final_grade %></td>
        <% if @assignment.id == 1 %>
        <td>14</td>
        <% else %>
        <td><%= max_points %></td>
        <% end %>
      </tr>
      <tr>
        <td>Self Assessment Points</td>
        <td><%= @submission.sa_points%></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <strong>TA's Comment:</strong>
  <p><%= @submission.comment %></p>