<% if @submission.nil? || @submission.student == current_user %>
<%= form_for @submission, :method=>:patch do |f| %>
  <h4>Resubmit</h4>
  <div class="form-group">
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <span class="btn btn-primary btn-embossed btn-file">
        <span class="fileinput-new"><span class="fui-upload"></span>&nbsp;&nbsp;Attach File (30MB limit)</span>
        <span class="fileinput-exists"><span class="fui-gear"></span>&nbsp;&nbsp;Change</span>
        <%= f.file_field :attachment%>
      </span>
      <span class="fileinput-filename"></span>
      <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">×</a>
    </div>
  </div>

  <%= f.hidden_field :assignment_id, :value=>@submission.assignment_id%>
  <%= f.hidden_field :student_id, :value=>@submission.student_id%>


  <div class="form-group">
    <%= f.submit "Submit", :class=>"btn btn-primary"%>
  </div>
<% end %>
<% else %>
  <p><u>NOTE:</u> Only <b><%= @submission.student.name %></b> from your team can resubmit this assignment.</p>
<% end %>