<div class='container'>
  <h2>Students that missing the submission</h2>
  <ul>
    <% @students_missing_submission.each do |student|%>
      <li><%= student.email%> | <%= student.pid%> | <%= student.name%></li>
    <% end %>
  </ul>

  <h2>Students that missing final grade</h2>
  <ul>
    <% @student_with_submission_but_no_final_grade.each do |sub|%>
      <li><%= sub.student.studio.ta.name%>, <%= sub.student.studio.time%> | <%= sub.student.email%> | <%= sub.student.pid%> | <%= sub.student.name %> | <%= link_to sub.attachment.url%></li>
    <% end %>
  </ul>

  <table class='table'>
    <thead>
      <tr>
        <th>
          Student
        </th>
        <% @assignment.rubric_fields.each do |field|%>
          <th><%= field.name%></th>
        <% end %>
        <th>Self Assessment Grade</th>
        <th style="width: 110px;">TA Grade</th>
        <th style="width: 110px;">Final Grade</th>
        <th>Self Assessment points</th>

      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td>
            <%= submission.student.name%> | <%= link_to submission.attachment.url%>
          </td>
          <% submission.grading_fields.each do |field| %>
            <td>
              <%= field.score%>
              <p><%= field.comment%></p>
            </td>
          <% end %>
          <td>
            <%= submission.self_assessment_grade%>
          </td>
          <td>
            <%= submission.ta_grade%>
          </td>
          <td>
            <%= submission.final_grade%>
          </td>
          <td>
            <%= submission.sa_points%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>