<div class='container'>
  <h2>Assignments</h2>

  <table class='table'>
    <thead>
      <tr>
        <th>Assignment name</th>
        <th>Type</th>
        <th>Submission Status</th>
        <th>Submission Deadline</th>
        <th>Grade &amp; Comment</th>
      </tr>
    </thead>

    <tbody>
      <% @assignments.each do |assignment| %>
        <% if assignment.visible %>
          <tr>
            <td><%= link_to assignment.name, assignment%></td>
            <td>
              <%= assignment.team_based ? "Team" : "Individual" %>
            </td>
            <td>
              <% submission = @submissions[assignment]%>
              <% if submission%>
                <span class="label label-primary">Last Submitted at <%= submission.updated_at.to_s(:ss)%></span>
              <% end %>
            </td>
            <td>
              <%= assignment.due_time%>
            </td>
            <td>
              <% if submission && submission.grading_fields.size > 0%>
                <span class='label label-danger'>Grade &amp; Comment last updated at <%= submission.grading_fields.first.updated_at.to_s(:ss)%></span> 
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>