<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>


  <h4><%= @assignment.name%> <span style="font-size: 20px;">(Please submit formated pdf file)</span></h4>
  <hr>
  <p><%= @assignment.description.html_safe if @assignment.description %></p>
  
  <% if @submission.grading_fields.size > 0%>
    <hr>
    <h4>Grades & Comment <a style='font-size: 14px' href="http://d.ucsd.edu/class/intro-hci/2015/logistics.html#grading">Grading Policy</a> </h4>
    <%= render "grades"%>
  <% end %>
  
  <% if @submission.new_record? && @assignment.due_time.end_of_day > Time.zone.now %>
    <%= render "form"%>
  <% elsif @submission.persisted? %>
    <%= link_to "Download last submission", @submission.attachment.url, :class=>"btn btn-info" if @submission.attachment.present?%>
    <span class="label label-important">Last Submitted at <%= @submission.updated_at.to_s(:ll) if @submission.present? %></span>
    <hr>

    <% if @assignment.due_time.end_of_day > Time.zone.now %>
      <%= render "resubmit_form"%>
    <% end %>

  <% end %>
</div>