<div class="container-fluid">
  <div class='row'>
    <%= link_to "Back", submissions_path(:studio_id=>@studio.id, :assignment_id=>@assignment.id), :style=>"margin-left: 40px"%>
  </div>
  <hr>
  <h6 style="margin-left: 25px"><%= @submission.student.name %> | <%= link_to "Download submission", @submission.attachment.url, :target=>"_blank"%></h6>

  <table class="table" style="margin-left: 5%; margin-right: 5%; width:90%; ">
    <thead>
      <tr>
        <th>Criteria</th>
        <th>Description</th>
        <th>Score</th>
      </tr>
    </thead>
    <%= form_for @submission, :method=>:patch do |f|%>
    <tbody>
      <% @assignment.rubric_fields.order(:id).each do |field|%>
        <% grading_field = @submission.grading_fields.where(rubric_field_id: field.id).first%>
        <% if grading_field.nil? %>
          <% grading_field = @submission.grading_fields.new(rubric_field_id: field.id) %>
        <% end %>
        <tr>
          <td><%= field.name %></td>
          <td></td>
          <%= f.fields_for :grading_fields, grading_field do |builder|%>
          <td>
            <ul style='list-style: none;'>
              <% field.rubric_field_items.each_with_index do |item, index| %>
                <li>
                  <div class='form-group'>
                    <label>
                      <%= check_box_tag "submission[grading_fields_attributes][#{builder.options[:child_index]}][selected_rubric_items][]", item.id, grading_field.selected_rubric_items.include?(item.id.to_s), class: 'rubric_field_item' %>
                      &nbsp;
                      <%= item.name %>
                    </label>
                  </div>
                </li>
              <% end %>
            </ul>
            <div class='form-group'>
              <%= builder.hidden_field :score, :class=>"form-control number_field"%>
            </div>
          </td>
          <%= builder.hidden_field :rubric_field_id%>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <td>Self Assessment Grade</td>
        <td></td>
        <td><%= f.number_field :self_assessment_grade, :class=>"form-control input-sm self_grade"%></td>
      </tr>
      <tr>
        <td>TA Grade</td>
        <td></td>
        <td><%= f.number_field :ta_grade, :class=>"form-control input-sm total_grade"%></td>
      </tr>
      <tr>
        <td>Self Assessment points</td>
        <td></td>
        <td><%= f.number_field :sa_points, :class=>"form-control input-sm sa_points"%></td>
      </tr>
      <tr>
        <td>Final Grade</td>
        <td></td>
        <td><%= f.number_field :final_grade, :class=>"form-control input-sm final_grade"%></td>
      </tr>
      <tr>
          <td colspan='4'>
            <b>Comment:</b>
            <%= f.text_area :comment, class: 'form-control', rows: 6%>
          </td>
        </tr>

        <tr>
          <td>
            <div class='form-group'>
              <%= f.submit "Submit", :class=>"btn btn-primary"%>
            </div>
          </td>
        </tr>
    </tbody>
    <% end %>
  </table>

</div>
